<div class="container-fluid">
  <div class="row">
    {{> side  }}
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Shelf Rack #01</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group mr-2">
            <button type="button" class="btn btn-sm btn-outline-secondary" onclick="requestRelayControl(1);">CH1</button>
            <button type="button" class="btn btn-sm btn-outline-secondary" onclick="requestRelayControl(2);">CH2</button>
            <button type="button" class="btn btn-sm btn-outline-secondary" onclick="requestRelayControl(3);">CH3</button>
            <button type="button" class="btn btn-sm btn-outline-secondary" onclick="requestRelayControl(4);">CH4</button>                                    
          </div>
        </div>
      </div>

      <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>
    </main>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
<script src="./javascripts/index.js"></script>